{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="top">
                <div id="posts">Posts: {{ entries|length }}<span class="quantity"></span></div>
                <div id="export">
                    {{ form_start(formexport, {'attr': {'id': 'form_export','target':'_blank'}}) }}
                    {{ form_widget(formexport) }}
                    {{ form_end(formexport) }}
                </div>
                <div id="views">Views: {{ views.views }}<span class="quantity"></span></div>
            </div>
            <div id="replybox">
                {{ form_start(form, {'attr': {'id': 'form_entry'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div id="entries">
                {%for entry in entries %}
                    <div class="entry">
                        <div class="title">
                            {{ entry.title }}
                        </div>
                        <div class="image">
                            <img src="uploaded/{{ entry.image }}" />
                        </div>    
                        <div class="time">
                            {{ entry.date|date('Y-m-d H:i:s') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>
    <script src="{{ asset('js/imagethread.js') }}"></script>    
{% endblock %}

